.note {
  display: block;
  padding: 0 $mobile-page-padding;

  font-size: 7px;
  line-height: 9px;
  color: $basic-grey;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: opacity $transition-duration;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--hidden {
    max-height: 20px;
    overflow-y: hidden;
  }


  @media #{$desktop} {
    font-size: 12px;
    line-height: 18px;

    &--hidden {
      max-height: 40px;
    }
  }
}
