$blick-height-mobile: 395px;
$blick-height-desktop: 863px;
$blick-height-big-desktop: 942px;
$circle-size-mobile: 225px;
$circle-size-desktop: 390px;
$circle-margin: 24px;

.promo {
  position: relative;

  font-weight: 300;
  color: rgba($basic-white, 0.6);
  letter-spacing: 0.05em;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: $blick-height-mobile;

    background: url("../img/blik_mobile.png") 25% 0 no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/blik_mobile@2x.png");
    }
  }

  @media #{$tablet} {
    &::before {
      background-image: url("../img/blik_desktop.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/blik_desktop@2x.png");
      }
    }
  }


  @media #{$desktop} {
    &::before {
      height: $blick-height-desktop;
    }
  }

  @media #{$big-desktop} {
    &::before {
      height: $blick-height-big-desktop;

      background-image: url("../img/blik_big-desktop.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/blik_big-desktop@2x.png");
      }
    }
  }
}

.promo__title {
  margin: 0 0 7px;
  padding: 14px $mobile-page-padding 10px;

  font-size: 12px;
  line-height: 14px;

  border-bottom: 1px solid rgba($basic-white, 0.2);

  @media #{$desktop} {
    margin: 0 0 12px;
    padding: 36px 0 20px;

    font-size: 16px;
    line-height: 19px;
  }
}

.promo__desc {
  position: relative;

  margin: 0;

  font-size: 20px;
  line-height: 23px;

  &::before {
    content: "";
    position: absolute;
    bottom: $circle-size-mobile / 2;
    left: 50%;
    z-index: 2;

    width: 137px;
    height: 137px;

    background: url("../img/woman_mobile.png") no-repeat;
    background-size: cover;
    transform: translate(-50%, 50%);

    @media (min-resolution: 2dppx) {
      background-image: url("../img/woman_mobile@2x.png");
    }
  }

  &::after {
    content: "";

    display: block;
    width: $circle-size-mobile;
    height: $circle-size-mobile;
    margin: 14px auto 0;

    background: url("../img/circle.svg") no-repeat;
    background-size: cover;
    opacity: 0.2;
  }

  @media #{$desktop} {
    font-size: 25px;
    line-height: 30px;

    &::before {
      bottom: $circle-size-desktop / 2;

      width: 239px;
      height: 239px;

      background-image: url("../img/woman_desktop.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/woman_desktop@2x.png");
      }
    }

    &::after {
      width: $circle-size-desktop;
      height: $circle-size-desktop;
      margin: 42px auto 0;
    }
  }
}
