@mixin list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin message($arrow-size, $border-radius, $offset) {
  position: relative;
  color: $basic-black;
  border-radius: $border-radius;
  background-color: $basic-white;

  &::before {
    content: "";
    position: absolute;
    bottom: -$arrow-size;
    right: $offset;
    border-top: $arrow-size solid $basic-white;
    border-right: $arrow-size / 2 solid transparent;
    border-left: $arrow-size /2  solid transparent;
    border-bottom: none;
  }
}
